@import 'colors';

.footer {
    padding: 0 20px;
    display: flex;
    align-items: center;
    height: 30px;

    .signalr-status-container {
        display: flex;
        align-items: center;

        .status-icon {
            width: 10px;
            height: 10px;
            background-color: $secondaryColorLight;
            border-radius: 50%;
            margin-right: 5px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            &.connecting {
                background-color: $secondaryColorLight;

                .status-icon-animation {
                    display: block;
                }
            }

            &.connected {
                background-color: $successColor;
            }

            &.error {
                background-color: $errorColor;
                
                .status-icon-animation {
                    display: none;
                }
            }

            .status-icon-animation {
                display: none;
                flex: 0 0 auto;
                width: 16px;
                height: 16px;
                border: 1px solid $secondaryColorLight;
                border-radius: 50%;
                animation-name: status-icon-animation;
                animation-duration: 1s;
                animation-iteration-count: infinite;
            }
        }
    }

    .copyright {
        color: $secondaryColorLight;
        margin-left: auto;
        cursor: default;
    }
}

@keyframes status-icon-animation {
    from { width: 0; height: 0; }
    to { width: 16px; height: 16px; }
  }