@import "colors";

.agent-widget {
    height: 100%;
    display: flex;

    .icon {
        display: flex;
        align-items: center;
        height: 100%;
        flex: 1 1 auto;

        i {
            font-size: 60px;
            color: $primary;
        }
    }

    .status {
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
    }
}