@import 'colors';

.work-time-line-container {
    table {
        width: 100%;
    }

    .task {
        font-size: 12px;
        width: 1%;
        white-space: nowrap;
        padding-right: 10px;
        text-align: center;

        .runtime-summary {
            color: $secondaryColorLight;
        }
    }

    .hour-column {
        border-right: 1px solid $secondaryColorLight;
        text-align: right;
        color: $secondaryColorLight;
        padding: 0 5px;
        font-weight: 100;
    
        &.first {
            width: 5%;
            border-left: 1px solid $secondaryColorLight;
        }

        &:last-child {
            width: 5%;
            flex: .5 .5 auto;
        }
    }
}
