@import "variables";
@import "colors";

.dashboard-row {
    margin: 50px;
    display: flex;
    gap: 50px;
    justify-content: stretch;
    flex-wrap: wrap;

    .section {
        flex: 1 1 200px;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        padding: 20px 30px;
    }
}

.menu {
    display: flex;

    .date-picker {
        margin-left: auto;
        display: flex;
        align-items: center;
        
        .navigation {
            width: 25px;
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 5px;
            border-radius: 50%;

            &.disabled {
                color: $secondaryColorLight;
            }

            &:hover:not(.disabled) {
                background-color: $primary;
                color: $whiteColor;
                cursor: pointer;
            }
        }
    }
}

@media (max-width: $phoneSize) {
    .dashboard-row {
        margin: 0;
        display: block;

        .section {
            box-shadow: none;
            padding: 0;

            &.time-worked {
                height: calc(100vh - 50px);
            }
        }
    }
}
