<div class="sidebar" *ngIf="(vm$ | async) as vm" [class.expanded]="vm.expanded">
    <div class="sidebar-content">
        <div class="sidebar-item" *ngFor="let item of vm.items" [routerLink]="[item.link]">
            <i class="icon" [ngClass]="item.icon"></i>
            <div class="text">{{ item.label }}</div>
        </div>
        <div class="pull-down"></div>
        <hr />
        <div class="sidebar-item" (click)="toggleExpand()">
            <i class="icon fa" [ngClass]="{ ' fa-long-arrow-alt-left': vm.expanded, 'fa-long-arrow-alt-right': !vm.expanded }"></i>
            <div class="text">{{ vm.expanded ? 'Collapse' : 'Expand' }}</div>
        </div>
    </div>
</div>