.main {
    height: 100vh;

    app-header {
        height: 70px;
    }

    .page {
        height: calc(100% - 50px);
        display: flex;

        .page-content {
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
            height: 100%;

            .router-outlet-wrapper {
                flex: 1 1 auto;
                overflow: auto;
            }

            app-footer {
                flex: 0 0 30px;
            }
        }
    }
}