<div class="page-wrapper">
    <p-toolbar>
        <div class="p-toolbar-group-left">
            <p-button label="New" icon="pi pi-plus" [routerLink]="['/agents/form']"></p-button>
            
        </div>
        
        <div class="p-toolbar-group-right">
            
        </div>
    </p-toolbar>

    <div class="agent-list" *ngIf="(agents$ | async) as agents">
        <div *ngFor="let agent of agents" class="agent-item">
            <div class="info">
                <div class="name">{{ agent.name }}</div>
                <div class="type">{{ AgentTypeTranslator.translate(agent.type) }} ({{ agent.id }})</div>
            </div>
            <div class="actions">
                <button pButton (click)="remove(agent)" type="button" icon="pi pi-trash" class="p-button-sm p-button-text p-button-danger"></button>
                <button pButton [routerLink]="['/agents/form', agent.id]" type="button" icon="pi pi-pencil" class="p-button-sm p-button-text"></button>
            </div>
        </div>
    </div>
</div>
