@import 'colors';

input.p-inputtext {
    border-radius: 0;
    padding: 5px;

    &:enabled:focus {
        border-color: $primary;
        box-shadow: inset 0 0 0 1px $primary, inset 0 0 0 1px $primary, inset 0 0 0 1px $primary, inset 0 0 0 1px $primary;
    }
}