<div class="time-worked-widget">
    <div class="chart-wrapper">
        <p-chart type="doughnut" [options]="chartOptions" [data]="data" width="100px"></p-chart>
    </div>
    <div class="timers-wrapper">
        <table>
            <tr>
                <td class="timer-label">Work time:</td>
                <td>00:00:00</td>
            </tr>
            <tr>
                <td class="timer-label">Break time:</td>
                <td>00:00:00</td>
            </tr>
            <tr>
                <td class="timer-label">Started at:</td>
                <td>00:00:00</td>
            </tr>
            <tr>
                <td class="timer-label">Finished at:</td>
                <td>00:00:00</td>
            </tr>
        </table>
    </div>
</div>
