<div class="time-worked-widget" *ngIf="vm$ | async as vm">
    <div class="chart-wrapper">
        <p-chart type="doughnut" [options]="vm.chartOptions" [data]="vm.chartData" [width]="vm.chartSize + 'px'"></p-chart>
        <div class="time-worked">{{ formatTime(vm.workTime) }}</div>
    </div>
    <div class="timers-wrapper">
        <table>
            <tr>
                <td class="timer-label">Current time:</td>
                <td>{{ vm.currentTime | date:'HH:mm:ss' }}</td>
            </tr>
            <tr>
                <td class="timer-label">Break time:</td>
                <td>{{ formatTime(vm.breakTime) }}</td>
            </tr>
            <tr>
                <td class="timer-label">Started at:</td>
                <td>{{ vm.startedAt != null ? (vm.startedAt | date:'HH:mm:ss') : '-' }}</td>
            </tr>
            <tr>
                <td class="timer-label">Estimated finish:</td>
                <td>{{ vm.plannedFinishedAt | date:'HH:mm:ss' }}</td>
            </tr>
        </table>
    </div>
</div>
