@import 'colors';

$headerHeight: 30px;
$currentTimeSize: 20px;
$activityHeight: 10px;
$eventInfoColumn: 120px;

.work-time-line-container {
    position: relative;
}

.time-line-row {
    display: flex;

    .event-info-column {
        width: $eventInfoColumn;
        flex: 0 0 auto;
        font-size: 12px;
        white-space: nowrap;
        padding-right: 10px;
        text-align: center;

        .runtime-summary {
            color: $secondaryColorLight;
        }

        .in-progress {
            margin-left: 3px;
        }
    }

    .hour-column-container {
        flex: 1 1 auto;
        position: relative;
        display: flex;
        cursor: default;
        
        .hour-column {
            border-right: 1px solid $secondaryColorLight;
            text-align: right;
            color: $secondaryColorLight;
            padding: 0 5px;
            font-weight: 100;
        
            &.first {
                border-left: 1px solid $secondaryColorLight;
            }
        }
    }

    &.header {
        height: $headerHeight;

        .hour-column-container {
            position: static;
        }
    }

    .currentTimeLine {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 1px;
        pointer-events: none;
        top: calc(#{$headerHeight} - #{$currentTimeSize});
        height: calc(100% - #{$headerHeight} + #{$currentTimeSize});
        align-items: center;
        z-index: 10;

        .time {
            flex: 0 0 auto;
            width: 30px;
            background-color: $primary;
            border-radius: 15px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            color: $whiteColor;
            font-size: 10px;
            text-align: center;
            line-height: $currentTimeSize;
        }

        .line {
            width: 2px;
            flex: 1 1 auto;
            background-color: $primary;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
    }

    .activity {
        position: absolute;
        top: calc(50% - (#{$activityHeight} / 2));
        display: flex;
        flex-direction: column;
        align-items: center;

        .bar {
            width: 100%;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            cursor: pointer;
            z-index: 5;
            height: $activityHeight;
            border: 1px solid $secondaryColorLight;
        }

        .time-container {
            font-size: 12px;
            margin-top: -18px;
            text-align: center;
        }

        .time {
            display: inline;
            color: $secondaryColorLight;
            background-color: white;
        }
    }
}
